.getting-started {
  
  ion-input {
      margin-bottom: 10px;
  }

}

#userText {
    font-size: 2rem;
}

.chatText {
    font-size:1.8rem !important;
}

ion-item-content {
    white-space: normal;
}
